/* reset magin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.banner{
    height: 1920px;
    background: url(/img/banner.jpg) center center no-repeat;
    /* padding: 50px; */
}
.about-sign-in{
    height: 80px;
    width: 100%;
    text-align: right;
}
.about, .signin{
    text-decoration: none;
    text-transform: uppercase;
}
.signin{
    margin-right: 80px;
    /* margin-left: 25px; */
    padding: 7px;
    border: 1px solid green;
    border-radius: 15px;
}
.about{
    margin-right: 80px;
    /* margin-left: 25px; */
    padding: 7px;
    border: 1px solid green;
    border-radius: 15px;
}
.logo{
    height: 200px;
    width: 120px;
    background: url(/img//img1/nen4cmr.jpg) center center no-repeat;
    margin-top: 40px;
}
.text{
    text-align: center;
    margin-top: 30px;

}
.btn-start-now{
    text-align: center;
    
}
button{
    text-transform: uppercase;
    padding:10px 12px;
    border-radius: 10px;
    border: 1px solid green;
    margin-top: 25px;
    cursor: pointer; 
}
/* .content-center{
    height: 80px;
    border: 1px solid red;
} */
.left, .right, .center{
    width: 33%;
    display: inline-block;
    text-align: center;
}
span{
    display: block;
    font-size: 40px;
}
img{
    width: 40px;
    height: 40px;
}